@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(rgb(22, 35, 73), rgb(54, 54, 161));
}
main {
  background-color: #022029;
}
section {
  width: 100%;
  min-height: 100vh;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/bg8.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.content {
  padding: 100px;
}
h1 {
  text-align: center;
  font-family: Merienda;
  color: #031544;
  font-size: 60px;
  font-weight: bolder;
  line-height: 100px;
  padding-bottom: 60px;
  text-shadow: white 1px 0 7px;
}
.login, .signup {
    display: flex;
    justify-content: flex-end;
    background-image: url("/bg.jpg");
    background-size: cover;
    background-position: center;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 0px 80px;
  background-color: #172532e7;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}
.form > h2 {
  margin-bottom: 30px;
  font-size: 50px;
  color: #A9DAFC;
  font-family: Montserrat;
}
.form > input {
  width: 340px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 0 10px;
  font-size: 17px;
  outline: none;
}
.form > button {
  margin-bottom: 30px;
  width: 200px;
  height: 45px;
  border-radius: 20px;
  background-color: #A9DAFC;
  font-weight: 600;
  font-size: 18px;
  color: #172532;
}
.form > p > a {
  color: #54A7D8;
}
.alert-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  display: flex;
  justify-content: center;
}
.alert {
  position: relative;
  padding: 15px;
  background-color: rgba(26, 43, 95, 0.534);
  backdrop-filter: blur(3px);
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  padding: 30px;
}
.alert > p {
  color: white;
}
.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
.section-text-img {
  display: flex;
  align-items: center;
  padding: 10px 80px;
  gap: 40px;
}
.section-image {
  display: flex;
}
.section-text {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 30px;
  line-height: 28px;
  justify-content: center;
}
.section-text > h2 {
  color: #8fe7a9;
  font-size: 50px;
  font-family: Montserrat;
  line-height: normal;
}
.section-text > ul > li {
  list-style: circle;
}
.section-text > ul > li > span {
  color: #6af0d3;
  font-size: large;
}
.loading {
  width: 100%;
  height: 100vh;
  text-align: center;
  justify-items: center;
  align-content: center;
  color: white;
  font-size: 50px;
}
.about-us {
  background-image: url("/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding: 100px 30px 80px 30px;
}
.about {
  margin: 0 40px 70px 40px;
  background-color: #bcdaeb5d;
  backdrop-filter: blur(3px);
  border-radius: 20px;
  border-top: white 2px solid;  
  border-bottom: white 2px solid;
  padding: 40px 100px 80px 100px;
  align-content: center;
  min-height: 400px;
  text-align: center;
} 
.about > h2 {
  margin-bottom: 35px;
  font-size: 45px;
  color: rgb(6, 14, 48);
  text-shadow: white 1px 0 4px;
}
.about > p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  text-shadow: white 0px 0 4px;
}
.what-we-do > h2 {
  margin-bottom: 40px;
  font-size: 45px;
  color: rgb(6, 14, 48);
  text-shadow: white 1px 0 4px;
  text-align: center;
}
.we-do-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
.we-do-card {
  border: #0c4e63 2px solid;
  background-color: rgba(240, 248, 255, 0.253);
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.we-do-card > h3 {
  color: #144b5c;
}
.help-hero {
  background-image: url("/bg9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.help-hero > div > img {
  margin-top: 50px;
}
.help {
  background-color: #003545;
  padding: 60px 80px;
}
.help > div > h2 {
  color: #8fe7a9;
  font-size: 50px;
  font-family: Montserrat;
  line-height: normal;
  margin-bottom: 20px;
}
.donate > li {
  list-style: circle;
  color: white;
  font-size: 18px;
  line-height: 28px;
}
.donate > li > a:visited {
  color: white;
}
.donate > li > a:hover {
  border-bottom: white 1px solid;
}
.different {
  background-color: #0c4e63;
}
.help-big {
  width: 100%;
}
.how-to-help {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.how-to-help > li {
  color: #8fe7a9;
  list-style: square;
  font-size: 22px;
  padding-bottom: 4px;
  border-bottom: white 1px solid;
}
.how-to-help > ul > li {
  color: white;
  list-style: inside;
  line-height: 28px;
}
.how-to-help > ul > li > span {
  color: chartreuse;
}
.data {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.data > div > h3 {
  color: #5ed1da;
  font-size: 35px;
  font-family: Montserrat;
  line-height: normal;
  margin-bottom: 10px;
}
.data > div > h4 {
  color: #000a1f;
}
.data > div > p {
  margin-bottom: 15px;
  color: white;
}
.info-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding: 0 40px;
}
.info-hero > h2 {
  color: #5ed1da;
  font-size: 60px;
  font-family: Montserrat;
  line-height: normal;
  margin-bottom: 30px;
}
.info-hero > div > h3 {
  color: #001222;
  font-size: 30px;
  font-family: Montserrat;
  line-height: normal;
  margin-bottom: 30px;
}
.info-hero > div > p {
  color: white;
}
.right {
  padding-right: 40px;
  border-right: 2px solid white;
}
.left {
  padding-left: 40px;
  border-left: 2px solid white;
}
footer {
  background-color: #01031b;
  border-top: #5ed1da 1px solid;
  min-height: 90px;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.student > h5 {
  color: #54A7D8;
  font-size: 18px;
  margin-bottom: 10px;
}
.student > p {
  color: white;
}
header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 20px 40px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar > a {
  height: 50px;
}
.pages {
  display: flex;
  gap: 40px;
}
.pages > li {
  display: flex;
  flex-direction: column;
}
.page-link {
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 600;
  position: relative;
  padding: 0 4px;
  font-family: Lato;
}
.page-link:after {
  content: "";
  position: absolute;
  background-image: radial-gradient(#0961A3, white);
  height: 3px;
  width: 0;
  bottom: -9px;
  left: 0;
  transition: 0.3s;
}
.page-link:hover {
  color: #DCE7ED;
}
.page-link:hover:after {
  width: 100%;
}
.logado {
  padding: 100px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #040f25;
}
.page {
  background-color: aliceblue;
  border-radius: 20px;
  padding: 50px 40px;
}
.page > h2 {
  font-size: 30px;
  margin-bottom: 30px;
  color: #092664;
}
.write {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.write > input, .write > textarea {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 17px;
  border: 1px solid #03315a;
}
.write > textarea {
  height: 200px;
}
.checkbox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
}
.checkbox > div {
  display: flex;
  gap: 20px;
}
.checkbox > p {
  font-weight: 600;
}
.checkbox-item {
  display: flex;
  gap: 7px;
}
.publish {
  width: 200px;
  height: 45px;
  border-radius: 15px;
  font-size: 17px;
  background-color: #03315a;
  color: #ffffff;
  border: #000a1f 1px solid;
  font-weight: 600;
}
.sair {
  align-self: flex-end;
}
.sair > button {
  width: 150px;
  height: 50px;
  border-radius: 15px;
  font-size: 19px;
  font-weight: 600;
}
.sair > button > a {
  color: #001222;
}
.menu-hamburger {
  border: none;
  background: none;
  border-top: 4px solid white;
  cursor: pointer;
  display: none;
}
.menu-hamburger::before, .menu-hamburger::after {
  content: " ";
  display: block;
  width: 30px;
  height: 4px;
  background: white;
  margin-top: 6px;
}
.menu-dropdown {
  display: none;
}
.login-dropdown {
  display: flex;
  align-items: center;
  gap: 10px;
}
.login-dropdown > p {
  font-size: 20px;
  color: white;
}
.posts-page {
  padding-top: 90px;
}
.posts {
  margin: 0 20px;
  padding: 30px 0 50px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.post {
  background-color: #a2e6eb71;
  width: 400px;
  height: 180px;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.denuncia {
  background-color: #eba2a271;
}
.post > h3 {
  color: #031544;
  font-size: 21px;
}
.post > div {
  display: flex;
  justify-content: space-between;
}
.autor {
  line-height: 26px;
  font-weight: 600;
  color: #01031b;
  font-size: 18px;
}
.post > div > div > button {
  font-size: 17px;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 17px;
  background-color: #03315a;
  color: #ffffff;
  border: #000a1f 1px solid;
}
.open-post {
  margin: 10px;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.open-post > h3 {
  color: #031544;
  font-size: 40px;
}
.open-denuncia > h3 {
  color: rgb(170, 8, 8);
}
.open-post > p {
  line-height: 28px;
  font-size: 18px;
}
.autor-data {
  line-height: 28px;
}
.autor-data > p:first-child {
  font-weight: 600;
  color: rgb(6, 7, 78);
}
.open-denuncia > .autor-data > p:first-child {
  color: rgb(104, 7, 7);
}
@media screen and (max-width: 1155px) {
  .section-text-img {
    flex-direction: column;
  }
  .right {
    padding-right: 0;
    border: none;
  }
  .left {
    padding-left: 0;
    border: none;
  }
  .section-text-img {
    padding: 80px 80px;
  }
  .different, .diff {
    flex-direction: column-reverse;
  }
  .help-hero {
    padding-top: 120px;
  }
  .info-hero {
    width: auto;
  }
}
@media screen and (max-width: 715px) {
  .about {
    margin: 0 20px 60px 20px;
    padding: 40px 20px 60px 20px;
  }
  .login-icon, .pages {
    display: none;
  }
  .menu-hamburger {
    display: block;
  }
  .menu-dropdown {
    width: 250px;
    height: 320px;
    flex-direction: column;
    display: flex;
    position: fixed;
    right: 5px;
    top: 95px;
    padding-top: 10px;
    background-color: rgb(25, 25, 82);
    justify-content: space-between;
    border-radius: 20px;
  }
  .pages-dropdown > li {
    font-size: 20px;
    width: 100%;
    padding: 15px;
    padding-left: 30px;
  }
  .pages-dropdown > li:hover {
    background-color: rgb(31, 52, 109);
  }
  .login-dropdown {
    padding: 15px;
    padding-left: 25px;
  }
  .page-link:hover:after {
    width: 0;
  }
}
@media screen and (max-width: 525px) {
  .open-post > h3 {
    font-size: 35px;
  }
  .form {
    width: 100%;
  }
  .about {
    margin: 0 0 60px 0;
    padding: 40px 20px 60px 20px;
  }
  .help > div > h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 490px) {
  .post {
    width: 300px;
  }
  .about-us {
    padding: 100px 0 80px 0;
  }
  .form > input {
    width: 280px;
  }
  .info-hero {
    padding-top: 70px;
  }
  h1 {
    font-size: 50px;
  }
  .section-text > h2 {
    font-size: 38px;
  }
  .section-text-img {
    padding: 80px 50px;
  }
  .info-hero > h2 {
    font-size: 50px;
  }
  .img-small {
    width: 100vw;
  }
  .help-hero {
    padding-top: 120px;
  }
  .logado {
    padding: 100px 20px 50px 20px;
  }
}
@media screen and (max-width: 410px) {
  .img-small {
    padding: 20px 0;
  }
}
