header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 20px 40px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar > a {
    height: 50px;
}
.pages {
    display: flex;
    gap: 40px;
}
.pages > li {
    display: flex;
    flex-direction: column;
}
.page-link {
    font-size: large;
    color: #172532;
    font-weight: 600;
    position: relative;
    padding: 0 4px;
}
.page-link:after {
    content: "";
    position: absolute;
    background-image: radial-gradient(#0961A3, white);
    height: 3px;
    width: 0;
    bottom: -9px;
    left: 0;
    transition: 0.3s;
}
.page-link:hover {
    color: rgb(20, 73, 133);
}
.page-link:hover:after {
    width: 100%;
}